In [1]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\hpp\anaconda\lib\site-packages (0.24.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hpp\anaconda\lib\site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: scipy>=0.19.1 in c:\users\hpp\anaconda\lib\site-packages (from scikit-learn) (1.7.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\hpp\anaconda\lib\site-packages (from scikit-learn) (1.20.3)
Requirement already satisfied: joblib>=0.11 in c:\users\hpp\anaconda\lib\site-packages (from scikit-learn) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
!pip install pandas
!pip install numpy

Requirement already satisfied: pandas in c:\users\hpp\anaconda\lib\site-packages (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\hpp\anaconda\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\hpp\anaconda\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\hpp\anaconda\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: six>=1.5 in c:\users\hpp\anaconda\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Requirement already satisfied: numpy in c:\users\hpp\anaconda\lib\site-packages (1.20.3)

In [49]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt

features = pd.read_csv('C:/Users/HPP/Desktop/Demo Data.csv')
features

,Age,Age_g,State,Region,P_O_resident,Mother_Edu,Religion,Sex_of_HH,Wealth_index,TCEB,Sons_at_home,Method_of_Contrac,Anemia_Level,Smoking_habbit,Fertility_preference,Alcohol_Consumption,BMI,BMI_Category
0,42,6,1,3,2,2.0,1,1.0,5,3.0,1.0000,2.0000,4,0.0001,4,0.0001,22.52,2
1,31,4,1,3,2,2.0,1,1.0,5,1.0,0.0001,0.0001,3,0.0001,1,0.0001,25.99,3
2,30,4,1,3,2,2.0,1,1.0,2,4.0,2.0000,0.0001,2,0.0001,3,0.0001,22.18,2
3,44,6,1,3,2,2.0,1,1.0,5,3.0,2.0000,2.0000,4,0.0001,1,0.0001,23.01,2
4,25,3,1,3,2,2.0,1,1.0,5,1.0,1.0000,2.0000,3,0.0001,1,0.0001,23.97,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1161,39,5,1,3,2,2.0,1,1.0,4,3.0,2.0000,2.0000,4,0.0001,4,0.0001,27.18,3
1162,30,4,1,3,2,3.0,1,1.0,4,1.0,1.0000,0.0001,2,0.0001,3,0.0001,20.67,2
1163,40,6,1,3,2,2.0,1,1.0,3,2.0,1.0000,2.0000,4,0.0001,4,0.0001,25.69,3
1164,32,4,1,3,2,2.0,1,1.0,2,2.0,1.0000,2.0000,3,0.0001,3,0.0001,25.99,3
1165,40,6,1,3,2,2.0,1,1.0,2,2.0,1.0000,2.0000,2,0.0001,4,0.0001,25.84,3

In [50]:
NAs = pd.concat([features.isnull().sum()], axis=1, keys=["features"])
NAs[NAs.sum(axis=1) > 0]

           features
Sex_of_HH         1

In [51]:
#filling missing values with mean
features["Sex_of_HH"] = features["Sex_of_HH"].fillna(features["Sex_of_HH"].mean())

In [35]:
#data analysis
!pip install kaggle

Requirement already satisfied: kaggle in c:\users\hpp\anaconda\lib\site-packages (1.5.16)
Requirement already satisfied: certifi in c:\users\hpp\anaconda\lib\site-packages (from kaggle) (2021.10.8)
Requirement already satisfied: python-dateutil in c:\users\hpp\anaconda\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in c:\users\hpp\anaconda\lib\site-packages (from kaggle) (2.26.0)
Requirement already satisfied: tqdm in c:\users\hpp\anaconda\lib\site-packages (from kaggle) (4.62.3)
Requirement already satisfied: python-slugify in c:\users\hpp\anaconda\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in c:\users\hpp\anaconda\lib\site-packages (from kaggle) (1.26.7)
Requirement already satisfied: six>=1.10 in c:\users\hpp\anaconda\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: bleach in c:\users\hpp\anaconda\lib\site-packages (from kaggle) (4.0.0)
Requirement already satisfied: packaging in c:\users\hpp\anaconda\lib\site-packages (from bleach->kaggle) (21.0)
Requirement already satisfied: webencodings in c:\users\hpp\anaconda\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\hpp\anaconda\lib\site-packages (from packaging->bleach->kaggle) (3.0.4)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\hpp\anaconda\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\hpp\anaconda\lib\site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hpp\anaconda\lib\site-packages (from requests->kaggle) (3.2)
Requirement already satisfied: colorama in c:\users\hpp\anaconda\lib\site-packages (from tqdm->kaggle) (0.4.4)

In [52]:
#data analysis


from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer,KNNImputer
from sklearn.pipeline import FeatureUnion,make_pipeline,Pipeline
from sklearn.compose import ColumnTransformer

In [53]:
print(features.shape)
NA = pd.DataFrame(data=[features.isna().sum().tolist(), ["{:.2f}".format(i)+'%' \



           for i in (features.isna().sum()/features.shape[0]*100).tolist()]],
           columns=features.columns, index=['NA Count', 'NA Percent']).transpose()

NA.style.background_gradient(cmap="Pastel1_r", subset=['NA Count'])
print('The shape of our features is:', features.shape)
features.describe()
# One-hot encode the data using pandas get_dummies
features = pd.get_dummies(features)
# Display the first 5 rows of the last 12 columns
features.iloc[:,5:].head(5)

(1166, 18)
The shape of our features is: (1166, 18)

,Mother_Edu,Religion,Sex_of_HH,Wealth_index,TCEB,Sons_at_home,Method_of_Contrac,Anemia_Level,Smoking_habbit,Fertility_preference,Alcohol_Consumption,BMI,BMI_Category
0,2.0,1,1.0,5,3.0,1.0000,2.0000,4,0.0001,4,0.0001,22.52,2
1,2.0,1,1.0,5,1.0,0.0001,0.0001,3,0.0001,1,0.0001,25.99,3
2,2.0,1,1.0,2,4.0,2.0000,0.0001,2,0.0001,3,0.0001,22.18,2
3,2.0,1,1.0,5,3.0,2.0000,2.0000,4,0.0001,1,0.0001,23.01,2
4,2.0,1,1.0,5,1.0,1.0000,2.0000,3,0.0001,1,0.0001,23.97,2

In [54]:
# Use numpy to convert to arrays
import numpy as np
# Labels are the values we want to predict
labels = np.array(features['TCEB'])
# Remove the labels from the features
# axis 1 refers to the columns
features= features.drop('TCEB', axis = 1)
# Saving feature names for later use
feature_list = list(features.columns)
# Convert to numpy array
features = np.array(features)
# Using Skicit-learn to split data into training and testing sets
from sklearn.model_selection import train_test_split
# Split the data into training and testing sets
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.25, random_state = 42)

print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)
test_features

Training Features Shape: (874, 17)
Training Labels Shape: (874,)
Testing Features Shape: (292, 17)
Testing Labels Shape: (292,)

array([[3.900e+01, 5.000e+00, 1.000e+00, ..., 1.000e-04, 2.330e+01,
        2.000e+00],
       [3.900e+01, 5.000e+00, 1.000e+00, ..., 1.000e-04, 2.644e+01,
        3.000e+00],
       [3.100e+01, 4.000e+00, 3.000e+00, ..., 1.000e-04, 2.300e+01,
        2.000e+00],
       ...,
       [4.000e+01, 6.000e+00, 3.000e+00, ..., 1.000e-04, 2.719e+01,
        3.000e+00],
       [3.700e+01, 5.000e+00, 1.000e+00, ..., 1.000e-04, 2.196e+01,
        2.000e+00],
       [3.300e+01, 4.000e+00, 1.000e+00, ..., 1.000e-04, 2.463e+01,
        2.000e+00]])

In [55]:
# The baseline predictions are the historical averages
baseline_preds = test_features[:, feature_list.index('Fertility_preference')]
# Baseline errors, and display average baseline error
baseline_errors = abs(baseline_preds - test_labels)
print('Average baseline error: ', round(np.mean(baseline_errors), 2))

Average baseline error:  1.05

In [61]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor
# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)
# Train the model on training data
rf.fit(train_features, train_labels)

RandomForestRegressor(n_estimators=1000, random_state=42)

In [63]:
# Use the forest's predict method on the test data
predictions = rf.predict(test_features)
# Calculate the absolute errors
errors = abs(predictions - test_labels)
# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')
# Calculate mean absolute percentage error (MAPE)
mape = 100 * (errors / test_labels)
# Calculate and display accuracy
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

Mean Absolute Error: 0.58 degrees.
Accuracy: -32722.53 %.